.md-typeset .admonition, .md-typeset details {
    font-size: 1em;
}

.md-typeset h1 {
  font-weight: bolder;
  font-size: 2em;
  margin: 0 0 0em;
  font-family: 'SF Pro Display', -apple-system, system-ui, BlinkMacSystemFont, 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.md-typeset h2 {
  font-weight: 600;
  font-size: 1.5em;
  font-family: 'SF Pro Display', -apple-system, system-ui, BlinkMacSystemFont, 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.md-nav__title {
  font-weight: 600;
  font-size: 1.5em;
}

.md-header {
  background-image: linear-gradient(to left, #1b95c1ff, #ffa84fff);
}

[data-md-color-scheme="grcengineering-light"] {
    --md-primary-fg-color:        #ffa84fff;
    --md-primary-fg-color--dark:  rgb(188, 102, 16);
    --md-default-bg-color: #ffffff;
    --md-primary-bg-color: #000000;
}

[data-md-color-scheme="grcengineering-dark"] {
    --md-primary-fg-color:        #1b95c1ff;
    --md-primary-fg-color--dark:  rgb(2, 98, 133);
    --md-default-bg-color: #000000;
    --md-typeset-color: #ffffff;
    --md-default-fg-color--light: #ffffffcb;
    --md-primary-bg-color: #000000;
}